body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-image 1s ease-in-out;
}

.weather-app {
    background: rgba(0, 0, 0, 0.616);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.search {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: pink;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: rgb(233, 114, 134);
}

.weather-details h2, .weather-details p {
    margin: 10px 0;
}

#weather-icon {
    font-size: 48px;
    margin: 10px 0;
}

